.fof-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.fof-container {
  text-align: center;
  padding: 2rem;
}

.fof-title {
  font-size: 4rem;
  line-height: 72px;
  margin-bottom: 4rem;
  user-select: none;
}

.fof-subtitle {
  font-size: 1rem;
  margin-bottom: 4rem;
}

.fof-emoji {
  font-size: inherit;
}
