/* Large banner */

@keyframes shake {
  0%,
  100% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
}

@keyframes wiggle {
  0%,
  100% {
    top: rotate(180deg) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateY(1rem);
  }
}

.large-banner {
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

.large-banner__inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  color: rgb(249, 249, 249);
}

.large-banner__image-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.image-wrapper {
  position: absolute;
  top: 50%;
  right: -10rem;
  transform: translateY(-50%);
  width: 110%;
  height: 50%;
  min-height: 600px;
  opacity: 0;
  transition: all 600ms 300ms var(--animation-curve);
}

.image-wrapper.active {
  opacity: 1;
  right: 0;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--primary-shadow);
  border-radius: var(--button-radius);
}

.large-banner__text-wrapper {
  position: relative;
  width: 50%;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--wolt-blue);
  border-radius: var(--button-radius);
  box-shadow: var(--primary-shadow);
  opacity: 0;
  transform: translateY(10rem);
  overflow-y: hidden;
  transition: all 700ms var(--animation-curve);
}

.large-banner__text-wrapper.active {
  opacity: 1;
  transform: translateY(0);
}

.large-banner__heading {
  line-height: 1;
  margin-bottom: 4rem;
  font-family: "Proxima Soft";
  transform: translateX(-2rem);
  opacity: 0;
  transition: all 500ms 700ms;
}

.large-banner__heading.active {
  transform: translateX(0);
  opacity: 1;
}

.site-title {
  color: #fff;
  font-size: 6rem;
  white-space: nowrap;
  font-family: "Proxima Soft";
}

.large-banner p {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
  transform: translateY(2rem);
  opacity: 0;
  transition: all 400ms 1000ms var(--animation-curve);
}

.large-banner p:last-of-type {
  transition-delay: 1100ms;
}

.large-banner p.active {
  transform: translateY(0);
  opacity: 1;
}

.large-banner__people {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  transition: all 400ms 1200ms;
}

.large-banner__people.active {
  bottom: -50px;
}

.banner-social {
  position: absolute;
  bottom: 0;
  right: 0;
}

.banner-social .social-icon {
  width: 28px;
  height: 28px;
  will-change: transform;
  transition: all 250ms var(--animation-curve);
}

.social-link:hover .social-icon {
  transform: translateY(-5px);
}

/* Topics */

.large-topics {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.large-topics h2 {
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 200;
}

.large-topics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 4rem;
}

.topic-item {
  height: 150px;
  border-radius: var(--button-radius);
  box-shadow: var(--secondary-shadow);
  background: #fff;
  opacity: 0;
  transform: translateY(1rem);
  padding: 0 1rem;
  user-select: none;
  will-change: transform;
  transition: all 250ms var(--animation-curve);
}

.topic-link {
  user-select: none;
  text-decoration: none;
  outline: none;
}

.topic-link:focus {
  color: var(--wolt-blue);
  text-decoration: none;
}

.large-topics-grid li.active {
  opacity: 1;
  transform: translateY(0);
}

.large-topics-grid li:hover {
  transform: scale(1.02) translateY(-5px);
  box-shadow: var(--primary-shadow);
}

.large-topics-grid li:hover div {
  animation: shake 300ms var(--animation-curve);
}

.large-topics-grid li a {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: inherit;
}

.large-topics-grid li a:hover {
  text-decoration: none;
}

.scroll-arrow {
  width: 48px;
  height: 48px;
  transform: rotate(180deg);
  animation: wiggle 2s infinite;
}

@media (prefers-reduced-motion) {
  .scroll-arrow {
    animation: none;
  }
}

.deco {
  width: 100%;
  height: 60vmin;
  background: url(../images/partner-01.jpeg) no-repeat center / cover;
  background-attachment: fixed;
}

@media (max-width: 1260px) {
  .large-banner {
    height: unset;
  }

  .large-banner__inner {
    width: 100%;
    height: auto;
    display: block;
  }

  .large-banner__people {
    display: none;
  }

  .large-banner__text-wrapper {
    width: 100%;
    padding: 4rem;
    background: transform;
    overflow: hidden;
  }

  .large-banner__text {
    margin-bottom: 4rem;
  }

  .large-banner__image-div {
    width: 100%;
  }

  .image-wrapper {
    position: relative;
    transform: unset;
    min-height: unset;
    /* height: 50vh; */
    width: calc(100% - 4rem);
    transform: translateY(-6rem);
  }

  .large-topics {
    padding: 0 2rem 4rem 2rem;
  }
}

@media (max-width: 560px) {
  .large-banner__text-wrapper {
    padding: 2rem;
  }

  .site-title {
    font-size: 4rem;
  }

  .large-banner__heading {
    margin-bottom: 2rem;
  }

  .large-topics-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 370px) {
  .large-topics-grid {
    grid-template-columns: 1fr;
  }
}
