:root {
  --wolt-blue: #00c2e8;
  --wolt-dark-blue: #02a9ca;
  --wolt-ocean-blue: #0080ff;
  --wolt-light-blue: #c6f6ff;
  --ice-gray: #f2f3f5;
  --table-header-color: rgb(255, 218, 218);
  --button-radius: 8px;
  --primary-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --secondary-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  --header-index: 3;
  --image-overlay-index: 3;
  --menu-index: 2;
  --animation-curve: cubic-bezier(0.24, 0.43, 0.1, 1.4);
  --content-max-width-large: 800px;
  --content-max-width: 700px;
  --content-inline-padding: 2rem;
}

@font-face {
  font-family: "Proxima Soft";
  src: url(../fonts/Proxima-Soft-ExCn-Bold.otf);
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
}

@keyframes wiggle {
  0%,
  100% {
    top: rotate(180deg) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateY(1rem);
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Segoe UI", Helvetica, Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: var(--wolt-blue);
}

a:hover,
a:focus {
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.hollow-button {
  width: 100%;
  padding: 0;
}

.hollow-button > * {
  width: 100%;
}

p {
  font-size: 0.9rem;
}

figure.table {
  margin: 2rem 0;
  padding: 0;
  font-size: 0.8rem;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: var(--secondary-shadow);
  overflow-x: auto;
}

table {
  border-radius: var(--button-radius);
  border-collapse: collapse;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.section ul {
  list-style: disc;
  padding-left: 40px;
}

.section li {
  margin-bottom: calc(1.45rem / 2);
  font-size: 0.9rem;
}

li:last-of-type {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.45rem / 2);
}

tr:nth-child(odd) {
  background: rgb(246, 246, 246);
}

tr:first-child {
  background: var(--wolt-ocean-blue);
  color: #fff;
  font-weight: 600;
}

td {
  padding: 0.5rem;
}

span {
  font-size: 0.9rem;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* Custom styles */

.button {
  display: block;
  margin: 0 auto;
  background: #fff;
  color: #333;
  border-radius: var(--button-radius);
  box-shadow: var(--primary-shadow);
  padding: 0.8rem 0.5rem;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 200ms;
}

.button:hover {
  color: var(--wolt-blue);
  background: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}

.button:focus {
  text-decoration: none;
}

/* Main content */

#main-content {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  padding: 0 1rem;
}

/* Layout */

/* Layout header */

#layout {
  position: relative;
  background: rgb(247, 247, 247);
  min-height: 100vh;
  width: 100%;
}

.layout-header {
  position: fixed;
  top: -100px;
  left: 0;
  width: 100%;
  display: none;
  padding: 2rem 1rem;
  background: var(--wolt-blue);
  z-index: var(--header-index);
  overflow: hidden;
  transition: all 200ms;
}

.header-container {
  max-width: var(--content-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-header--menu {
  height: 63px;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.layout-header--scrolled {
  position: fixed;
  top: 0;
  padding: 1rem 2rem;
  height: 63px;
  box-shadow: var(--primary-shadow);
  border-radius: 0 0 8px 8px;
}

.brand {
  display: block;
  width: 50px;
}

/* Burger */

.burger {
  position: relative;
  padding: 0;
  width: 25px;
  height: 20px;
  transform: translateX(80px);
  will-change: transform;
  transition: all 200ms;
}

.burger--scrolled {
  transform: translateX(0);
}

.burger-slice {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 8px;
  transition: all 300ms var(--animation-curve);
}

.burger-slice:first-child {
  top: 0;
}

.burger-slice:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-slice:last-child {
  top: calc(100% - 3px);
}

.burger-slice--close:first-child {
  top: calc(50% - 1.5px);
  transform: rotate(45deg);
}

.burger-slice--close:nth-child(2) {
  opacity: 0;
}

.burger-slice--close:last-child {
  position: absolute;
  top: calc(50% - 1.5px);
  transform: rotate(-45deg);
}

/* Menu */

.menu {
  position: fixed;
  top: 63px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: var(--wolt-blue);
  transform: translateY(-102vh);
  will-change: transform;
  z-index: var(--menu-index);
  transition: all 400ms;
}

.menu--shown {
  transform: translateY(0);
}

.menu-list__item {
  margin-bottom: 0;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 300ms 300ms var(--animation-curve);
}

.menu-list__item--shown {
  transform: translateX(0);
  opacity: 1;
}

.menu-link {
  display: block;
  color: #fff;
  padding: 0.5rem 0;
  transition: all 200ms;
}

.menu-link:hover,
.menu-hover:focus {
  text-decoration: none;
}

.menu-deco {
  position: absolute;
  width: 300px;
  top: calc(50% - 67px);
  right: -100%;
  transform: rotate(-90deg);
  will-change: right;
  transition: all 700ms 250ms var(--animation-curve);
}

.menu-deco--shown {
  right: -152px;
}

.menu-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 2rem;
  color: rgba(255, 255, 255, 0.9);
}

.menu-footer * {
  font-size: 14px;
}

/* Layout footer */

.footer-top {
  padding: 2rem var(--content-inline-padding);
  background: var(--wolt-blue);
  color: #fff;
}

#layout-footer h2 {
  max-width: var(--content-max-width);
  font-weight: 400;
  margin: 0 auto 2.5rem auto;
}

#layout-footer h3 {
  margin-bottom: 1rem;
  font-size: 16px;
}

.footer-link {
  color: inherit;
}

.footer-top__content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2rem;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.footer-bottom {
  padding: 1rem var(--content-inline-padding);
  background: rgb(241, 241, 241);
}

.footer-bottom p:first-of-type {
  font-size: 1rem;
  font-family: "Proxima Soft", Helvetica, sans-serif;
}

.footer-bottom > .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.heart {
  font-size: 10px;
  margin-right: 2px;
}

.social-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.social-icon {
  width: 100%;
  height: 100%;
  transition: transform 200ms var(--animation-curve);
}

.social-link:hover .social-icon {
  transform: translateY(-5px);
}

.footer-container,
#layout-footer h2,
.footer-top__content {
  max-width: var(--content-max-width-large);
}

/* Banner */

.large-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  overflow: hidden;
}

.large-banner__inner {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  color: rgb(249, 249, 249);
}

.large-banner__image-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.image-wrapper {
  position: absolute;
  top: 50%;
  right: -10rem;
  transform: translateY(-50%);
  width: 110%;
  height: 50%;
  min-height: 600px;
  opacity: 0;
  transition: all 600ms 400ms var(--animation-curve);
}

.image-wrapper.active {
  opacity: 1;
  right: 0;
  transition-delay: 0ms;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--primary-shadow);
  border-radius: var(--button-radius);
}

.large-banner__text-wrapper {
  position: relative;
  width: 50%;
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--wolt-blue);
  border-radius: var(--button-radius);
  box-shadow: var(--primary-shadow);
  opacity: 0;
  transform: translateY(10rem);
  overflow-y: hidden;
  transition: all 700ms var(--animation-curve);
}

.large-banner__text-wrapper.active {
  opacity: 1;
  transform: translateY(0);
}

.version {
  position: absolute;
  top: 1rem;
  left: 1rem;
  opacity: 0;
  transition: all 500ms 1600ms;
}

.version.active {
  opacity: 1;
}

.version span {
  display: block;
  font-size: 0.85rem;
  margin: 0;
}

.large-banner__heading {
  line-height: 1;
  margin-bottom: 4rem;
  font-family: "Proxima Soft";
  transform: translateX(-2rem);
  opacity: 0;
  transition: all 500ms 700ms;
}

.large-banner__heading.active {
  transform: translateX(0);
  opacity: 1;
}

.site-title {
  color: #fff;
  font-size: 6rem;
  white-space: nowrap;
  font-family: "Proxima Soft";
}

.large-banner p {
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 600px;
  transform: translateY(2rem);
  opacity: 0;
  transition: all 400ms 1000ms var(--animation-curve);
}

.large-banner p:last-of-type {
  transition-delay: 1100ms;
}

.large-banner p.active {
  transform: translateY(0);
  opacity: 1;
}

.large-banner__people {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  transition: all 400ms 1200ms;
}

.large-banner__people.active {
  bottom: -50px;
}

/* Topic Links */

.large-topics {
  width: 100%;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.large-topics h2 {
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 200;
}

.large-topics-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 4rem;
}

.topic-item {
  height: 150px;
  border-radius: var(--button-radius);
  box-shadow: var(--secondary-shadow);
  background: #fff;
  opacity: 0;
  transform: translateY(1rem);
  padding: 0 1rem;
  user-select: none;
  will-change: transform;
  transition: all 250ms var(--animation-curve);
}

.topic-link {
  user-select: none;
  text-decoration: none;
  outline: none;
}

.topic-link:focus {
  color: var(--wolt-blue);
  text-decoration: none;
}

.large-topics-grid li.active {
  opacity: 1;
  transform: translateY(0);
}

.large-topics-grid li:hover {
  transform: scale(1.02) translateY(-5px);
  box-shadow: var(--primary-shadow);
}

.large-topics-grid li:hover div {
  animation: shake 300ms var(--animation-curve);
}

.large-topics-grid li a {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: inherit;
}

.large-topics-grid li a:hover {
  text-decoration: none;
}

.scroll-link__banner {
  text-align: center;
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-link__banner p {
  margin-bottom: 0.5rem;
}

.scroll-arrow {
  width: 48px;
  height: 48px;
  transform: rotate(180deg);
  animation: wiggle 2s infinite;
}

/* News */

#news {
  position: relative;
  padding: 8rem 1rem;
}

.news-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  background: var(--ice-gray);
  box-shadow: var(--primary-shadow);
  border-radius: var(--button-radius);
  padding: 4rem 2rem;
  opacity: 0;
  transform: translateY(2rem);
  transition: all 1s var(--animation-curve);
}

.news-container.active {
  opacity: 1;
  transform: translateY(0);
}

.news-container hr {
  border-color: rgba(255, 255, 255, 0.3);
  margin: 2.5rem 0;
}

.news-container hr:last-of-type {
  display: none;
}

.news-container:after {
  content: "📌";
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
}

.news-title {
  /* margin: 0 0 3rem 0; */
  position: absolute;
  top: -5.5rem;
  left: 1rem;
  line-height: 1;
  font-size: 4rem;
  font-family: "Proxima Soft", Helvetica, sans-serif;
}

.news-item__title {
  font-size: 1rem;
}

.phone-deco {
  width: 200px;
  position: absolute;
  bottom: 8rem;
  right: 20rem;
  opacity: 0;
  transition: all 500ms 1s var(--animation-curve);
}

.phone-deco.active {
  opacity: 1;
  right: 13rem;
}

/* Topics */

.topics-section {
  width: 100%;
}

#center-container {
  margin: 0 auto 8rem auto;
  max-width: var(--content-max-width-large);
}

.topic {
  padding-top: 3rem;
}

.topic-title {
  position: relative;
  margin-bottom: 3rem;
}

.topic-title:after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  height: 3px;
  width: 60px;
  background: var(--wolt-blue);
}

/* Aside */

aside {
  position: sticky !important;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-list-item {
  transform: translateX(-2.5rem);
  opacity: 0;
  transition: all 200ms;
}

.aside-list-item.active {
  opacity: 1;
  transform: translateX(0);
}

.topic-text-link {
  display: block;
  color: inherit;
  padding: 0.7rem;
  border-radius: var(--button-radius);
  will-change: transform;
  white-space: nowrap;
  font-size: 0.9rem;
  transition: all 200ms;
}

.topic-text-link span {
  margin-right: 0.5rem;
}

.topic-text-link:hover,
.topic-text-link:focus {
  text-decoration: none;
  box-shadow: var(--primary-shadow);
  transform: scale(1.05) translateX(0.5rem);
  background: #fff;
}

/* Sections */

.section {
  margin: 1rem 0;
  border-radius: 10px;
  overflow-x: hidden;
  box-shadow: var(--primary-shadow);
  transform: translateY(1rem);
  opacity: 0;
  will-change: transform;
  transition: all 500ms var(--animation-curve);
}

.section.active {
  opacity: 1;
  transform: translateY(0);
}

.section:last-of-type {
  margin-bottom: 0;
}

.section-title__button {
  background: var(--wolt-blue);
}

.section-title {
  margin: 0;
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  font-family: Helvetica, Arial, sans-serif;
  padding: 1rem;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 200ms;
}

.section-title__button.active {
  background: var(--wolt-dark-blue);
}

.section-title:hover {
  background: var(--wolt-dark-blue);
}

/* Section title icon */

.section-title__icon {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  transform: translateX(-50px);
  will-change: transform;
  transition: all 200ms;
}

.section-title__icon--hover {
  margin-right: 1rem;
  transform: translateX(0);
}

.section-title__icon.active {
  margin-right: 1rem;
  transform: rotate(90deg);
}

.section-title__icon > img {
  position: absolute;
  top: 0;
  left: 0;
}

.section-title__icon > img:last-child {
  transition: all 200ms;
}

.section-content {
  box-sizing: content-box;
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  font-size: 16px;
  background: #fff;
  will-change: max-height, padding;
  transition: all 350ms;
}

/* Image overlay */

figcaption {
  font-size: 14px;
  color: #555;
  text-align: center;
}

#image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: var(--image-overlay-index);
  transition: all 300ms;
}

.image-overlay--shown {
  opacity: 1 !important;
}

#image-overlay > img {
  width: 90%;
  max-width: 800px;
}

/* 404 page */

.fof-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.fof-container {
  text-align: center;
  padding: 2rem;
}

.fof-title {
  font-size: 4rem;
  line-height: 72px;
  margin-bottom: 4rem;
  user-select: none;
}

.fof-subtitle {
  font-size: 1rem;
  margin-bottom: 4rem;
}

.fof-emoji {
  font-size: inherit;
}

.omikron {
  user-select: none;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 4rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  border: 2px solid var(--wolt-blue);
  background: #f7f7f7;
  opacity: 0;
  pointer-events: none;
  text-decoration: none;
  transition: all 200ms var(--animation-curve);
}

.back-to-top.active {
  opacity: 0.6;
  pointer-events: all;
}

.back-to-top:hover {
  opacity: 1;
  border-radius: var(--button-radius);
  background: #fff;
  text-decoration: none;
}

.back-to-top span {
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
  transition: all 200ms;
}

.back-to-top:hover span {
  width: 100px;
}

/* Deco image */

.deco {
  width: 100%;
  height: 50vmin;
}

.deco-image {
  width: calc(100% - 4rem);
  margin: 0 2rem;
  height: 100%;
  border-radius: 8px;
  opacity: 0;
  box-shadow: var(--primary-shadow);
  transform: translateY(2rem);
  transition: all 500ms;
}

.deco-image.active {
  opacity: 1;
  transform: translateY(0);
}

/* Loader */

@keyframes pulse {
  from {
    transform: scale(0) translateY(1rem);
  }
  to {
    transform: scale(1) translateY(0rem);
  }
}

.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: var(--wolt-blue);
  border-radius: 50%;
  margin: 0 0.5rem;
  animation: pulse 500ms var(--animation-curve) infinite alternate;
}

/* Queries */

@media (prefers-reduced-motion) {
  .scroll-arrow {
    animation: none;
  }
}

@media only screen and (max-width: 1700px) {
  .phone-deco {
    display: none;
  }
}

@media only screen and (max-width: 1260px) {
  .large-banner {
    height: unset;
  }

  .large-banner__inner {
    width: 100%;
    height: auto;
    display: block;
  }

  .large-banner__people {
    display: none;
  }

  .large-banner__text-wrapper {
    width: 100%;
    padding: 4rem;
    background: transform;
    overflow: hidden;
  }

  .large-banner__text {
    margin-bottom: 4rem;
  }

  .large-banner__image-div {
    width: 100%;
  }

  .image-wrapper {
    position: relative;
    transform: unset;
    min-height: unset;
    width: calc(100% - 4rem);
    transform: translateY(-6rem);
  }

  .large-topics {
    padding: 0 2rem 4rem 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  .layout-header {
    display: block;
  }

  .center-container {
    padding: 0 1rem;
  }

  #main-content {
    display: block;
  }

  aside {
    display: none;
  }

  .back-to-top {
    display: none;
  }
}

@media only screen and (max-width: 560px) {
  .large-banner__text-wrapper {
    padding: 2rem;
  }

  .site-title {
    font-size: 4rem;
  }

  .large-banner__heading {
    margin-bottom: 2rem;
  }

  .large-banner p {
    font-size: 1rem;
  }

  .version {
    left: unset;
    right: 1rem;
  }

  .scroll-link__banner {
    display: block;
  }

  .large-topics-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .news-container {
    padding: 2rem;
  }

  .news-title {
    font-size: 2rem;
    position: unset;
    margin: 0 0 3rem 0;
  }

  .footer-top__content {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media only screen and (max-width: 370px) {
  .large-topics-grid {
    grid-template-columns: 1fr;
  }
}
