:root {
  --wolt-blue: #00c2e8;
  --wolt-overlay-blue: #00c1e8df;
  --wolt-dark-blue: #02a9ca;
  --wolt-light-blue: #c6f6ff;
  --table-header-color: rgb(255, 218, 218);
  --button-radius: 8px;
  --primary-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  --secondary-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  --header-index: 3;
  --image-overlay-index: 3;
  --menu-index: 2;
  --animation-curve: cubic-bezier(0.24, 0.43, 0.1, 1.4);
  --content-max-width: 700px;
}

@font-face {
  font-family: "Proxima Soft";
  src: url(../fonts/Proxima-Soft-ExCn-Bold.otf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: "Proxima Soft", sans-serif; */
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

a {
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: var(--wolt-blue);
}

a:hover,
a:focus {
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-size: 0.9rem;
}

figure.table {
  margin: 2rem 0;
  padding: 0;
  font-size: 0.8rem;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: var(--secondary-shadow);
  overflow-x: auto;
}

table {
  border-radius: var(--button-radius);
  border-collapse: collapse;
}

li {
  margin-bottom: calc(1.45rem / 2);
  font-size: 0.9rem;
}

li:last-of-type {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: calc(1.45rem / 2);
}

tr:nth-child(odd) {
  background: rgb(246, 246, 246);
}

tr:first-child {
  background: var(--wolt-light-blue);
  font-weight: 600;
}

span {
  font-size: 0.9rem;
}

img {
  max-width: 100%;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* Custom styles */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #fff;
  text-align: center;
  color: #333;
  border-radius: var(--button-radius);
  box-shadow: var(--primary-shadow);
  width: 150px;
  height: 80px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 200ms;
}

.button:hover {
  color: var(--wolt-blue);
  background: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}

.button:focus {
  text-decoration: none;
}

.top-banner {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/partner.jpeg) no-repeat 73% 50% / cover;
}

/* Main content */

#main-content {
  padding: 0 2rem;
}

/* Topic buttons */

.topic-button {
  display: flex;
  flex-flow: column nowrap;
}

/* Banner overlay */

.banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--wolt-overlay-blue);
}

/* Layout */

/* Layout header */

#layout {
  position: relative;
  background: rgb(247, 247, 247);
  min-height: 100vh;
  width: 100%;
}

#layout-404 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
  background: var(--wolt-blue);
  color: #fff;
}

#layout-404 > .layout-header {
  position: relative;
}

.layout-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2rem 1rem;
  z-index: var(--header-index);
  overflow-x: hidden;
  transition: all 200ms;
}

.layout-header--menu {
  height: 63px;
  box-shadow: none !important;
  border-radius: 0 !important;
}

.layout-header--scrolled {
  position: fixed;
  top: 0;
  background: var(--wolt-blue);
  padding: 1rem;
  height: 63px;
  box-shadow: var(--primary-shadow);
  border-radius: 0 0 8px 8px;
}

.brand {
  display: block;
  width: 100px;
  position: absolute;
  top: 2rem;
  left: calc(50% - 50px);
  transition: all 200ms;
}

.brand--scrolled {
  width: 50px;
  left: 2rem;
  top: calc(50% - 12.5px);
}

/* Burger */

.burger {
  position: relative;
  padding: 0;
  width: 25px;
  height: 20px;
  transform: translateX(80px);
  will-change: transform;
  transition: all 200ms;
}

.burger--scrolled {
  transform: translateX(0);
}

.burger-slice {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 8px;
  transition: all 300ms var(--animation-curve);
}

.burger-slice:first-child {
  top: 0;
}

.burger-slice:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger-slice:last-child {
  top: calc(100% - 3px);
}

.burger-slice--close:first-child {
  top: calc(50% - 1.5px);
  transform: rotate(45deg);
}

.burger-slice--close:nth-child(2) {
  opacity: 0;
}

.burger-slice--close:last-child {
  position: absolute;
  top: calc(50% - 1.5px);
  transform: rotate(-45deg);
}

/* Menu */

.menu {
  position: fixed;
  top: 63px;
  left: 0;
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: var(--wolt-blue);
  transform: translateY(-100vh);
  will-change: transform;
  z-index: var(--menu-index);
  transition: all 400ms;
}

.menu--shown {
  transform: translateY(0);
}

.menu-list {
  list-style: none;
  padding: 0;
}

.menu-list__item {
  margin-bottom: 0;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 300ms 300ms var(--animation-curve);
}

.menu-list__item--shown {
  transform: translateX(0);
  opacity: 1;
}

.menu-link {
  display: block;
  color: #fff;
  padding: 0.5rem 0;
  transition: all 200ms;
}

.menu-link:hover,
.menu-hover:focus {
  text-decoration: none;
}

.menu-deco {
  position: absolute;
  width: 300px;
  top: calc(50% - 67px);
  right: -100%;
  transform: rotate(-90deg);
  will-change: right;
  transition: all 700ms 250ms var(--animation-curve);
}

.menu-deco--shown {
  right: -152px;
}

.menu-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 2rem;
  color: rgba(255, 255, 255, 0.9);
}

.menu-footer * {
  font-size: 14px;
}

/* Layout footer */

.footer-top {
  padding: 2rem;
  background: var(--wolt-blue);
  color: #fff;
}

#layout-footer h2 {
  max-width: 800px;
  font-weight: 400;
  margin: 0 auto 2.5rem auto;
}

#layout-footer h3 {
  margin-bottom: 1rem;
  font-size: 16px;
}

.footer-link {
  color: inherit;
}

#layout-footer section:first-of-type {
  margin-right: 2.5rem;
  margin-bottom: 2rem;
}

#layout-footer ul {
  list-style: none;
  padding: 0;
}

.footer-top__content {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.footer-bottom {
  padding: 1rem 2rem;
  background: rgb(241, 241, 241);
}

.footer-bottom > .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.heart {
  font-size: 10px;
  margin-right: 2px;
}

.social-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
  fill: #fff;
}

/* Banner */

#index-banner__container {
  text-align: center;
  z-index: 1;
}

#index-sub {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}

#topics-grid {
  margin: 0 auto;
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#banner__container {
  color: #fff;
}

#banner__container > h1 {
  text-align: center;
  font-size: 4rem;
}

/* Topics */

#center-container {
  margin: 0 auto 4rem auto;
  max-width: var(--content-max-width);
}

.topic {
  padding-top: 3rem;
}

.topic-title {
  position: relative;
  margin-bottom: 3rem;
}

.topic-title:after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  height: 3px;
  width: 60px;
  background: var(--wolt-blue);
}

/* Navigation */

nav {
  position: sticky;
  top: 6rem;
  margin: 6rem 8rem 0 4rem;
}

#nav-title {
  margin-bottom: 4rem;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list-item {
  margin-bottom: 2rem;
  white-space: nowrap;
}

.nav-link {
  position: relative;
  color: var(--wolt-dark-blue);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link:before {
  content: "";
  position: absolute;
  left: -1rem;
  top: calc(50% - 2px);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--wolt-dark-blue);
  opacity: 0;
  transition: all 200ms;
}

.nav-link:hover:before {
  opacity: 1;
}

.nav-link:focus:before {
  opacity: 1;
  width: 10px;
  border-radius: 2px;
}

/* Sections */

.section {
  margin: 1rem 0;
  border-radius: 10px;
  overflow-x: hidden;
  box-shadow: var(--primary-shadow);
}

.section:last-of-type {
  margin-bottom: 0;
}

.section-title {
  margin: 0;
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  padding: 1rem;
  border: none;
  background: var(--wolt-blue);
  color: #fff;
  cursor: pointer;
  transition: all 200ms;
}

.section-title--active {
  background: var(--wolt-dark-blue);
}

.section-title:hover {
  background: var(--wolt-dark-blue);
}

/* Section title icon */

.section-title__icon {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  transform: translateX(-50px);
  will-change: transform;
  transition: all 200ms;
}

.section-title__icon--hover {
  margin-right: 1rem;
  transform: translateX(0);
}

.section-title__icon--active {
  margin-right: 1rem;
  transform: rotate(90deg);
}

.section-title__icon > img {
  position: absolute;
  top: 0;
  left: 0;
}

.section-title__icon > img:last-child {
  transition: all 200ms;
}

.section-content {
  box-sizing: content-box;
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem;
  font-size: 16px;
  background: #fff;
  will-change: max-height, padding;
  transition: all 350ms;
}

/* Image overlay */

figcaption {
  font-size: 14px;
  color: #555;
  text-align: center;
}

#image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  z-index: var(--image-overlay-index);
  transition: all 300ms;
}

.image-overlay--shown {
  opacity: 1 !important;
}

#image-overlay > img {
  width: 90%;
  max-width: 800px;
}

/* 404 page */

.fof-container {
  text-align: center;
  padding: 0 2rem;
}

.fof-title {
  font-size: 4rem;
  line-height: 72px;
  margin-bottom: 4rem;
}

.fof-subtitle {
  font-size: 1rem;
  margin-bottom: 4rem;
}

.fof-link {
  color: #fff;
  text-decoration: underline;
}
